<div
  class="bg-white rounded-3 shadow-sm p-3 mb-3 position-relative"
  style="border-radius: 1.5rem"
>
  <div
    class="task d-grid gap-2 align-items-center"
    style="
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
    "
  >
    <input
      name="checkOut"
      type="checkbox"
      class="form-check-input mt-1"
      [checked]="task.status === 'Completed'"
      (change)="toggleCompleted.emit(task)"
      style="width: 2rem; height: 2rem; cursor: pointer; border-radius: 1rem"
      aria-label="Zmień status zadania"
    />

    <b
      class="fw-semibold position-relative"
      [ngClass]="{
        'text-decoration-line-through': task.status === 'Completed'
      }"
    >
      {{ task.name }}
    </b>
    @if (task.descVisible) {
    <p class="text-muted small position-absolute" style="top: 50px; left: 50px">
      {{ task.description }}
    </p>
    }

    <button
      class="btn btn-link p-2 small text-primary"
      (click)="toggleDescription.emit(task)"
      *ngIf="task.description"
    >
      {{ task.descVisible ? "ukryj opis" : "pokaż opis" }}
    </button>
    @if(!task.description){
    <span>
      <button
        class="btn btn-link p-2 small text-primary"
        (click)="toggleDescription.emit(task)"
        *ngIf="task.description"
      >
        {{ "brak opisu" }}
      </button></span
    >
    }

    {{ task.date }}

    <span
      class="badge ms-2"
      [ngClass]="{
        'bg-success': task.status === 'Completed',
        'bg-warning': task.status === 'Pending',
        'bg-info': task.status === 'Planned'
      }"
      style="
        font-size: 0.75rem;
        padding: 0.35rem 0.6rem;
        border-radius: 0.75rem;
        border: solid 2px black;
      "
    >
      {{ task.status }}
    </span>

    <button
      class="btn btn-danger"
      style="padding: 0; border-radius: 50%; width: 2rem; height: 2rem"
      (click)="onRemove()"
    >
      X
    </button>
  </div>
</div>
