<div class="container p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold mb-0">{{ title }}</h1>
    <button
      title="Dodaj zadanie"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addTaskModal"
    >
      + Dodaj zadanie
    </button>
  </div>

  <task-filters
    [filters]="filters"
    (filtersChange)="filters = $event"
  ></task-filters>

  <div *ngFor="let groupName of getGroupNames(groupedTasks)" class="mb-4">
    <h4 class="fw-semibold text-primary mt-4">
      <i class="bi bi-calendar-event me-2"></i>{{ groupName }}
    </h4>

    <task-list
      [tasks]="groupedTasks[groupName]"
      (toggleCompleted)="toggleCompleted($event)"
      (toggleDescription)="toggleDescription($event)"
    ></task-list>
  </div>

  <add-task-modal (addTask)="addTask($event)"></add-task-modal>
</div>
